/*
 * Base process configuration: resource requirements (defaults / local profile)
 */

process {
    cache = 'lenient'

    withLabel: 'process_low' {
        cpus   = 4
        memory = '8 GB'
        time   = '2h'
    }
    withLabel: 'process_medium' {
        cpus   = 8
        memory = '16 GB'
        time   = '6h'
    }
    withLabel: 'process_high' {
        cpus   = 16
        memory = '24 GB'
        time   = '12h'
    }
    withLabel: 'process_cellranger' {
        cpus   = 32
        memory = '16 GB'
        time   = '12h'
    }


}
